* {box-sizing:border-box}
body {font-family: Montserrat,sans-serif;}
.mySlides {display:none}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  max-height: 400px;
  overflow: hidden;
  position: relative;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

/* Caption text */
/*.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
*/
/* Number text (1/3 etc) */
/*.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
*/
/* The dots/bullets/indicators */
.dot {
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

.bg-1 {
      background-color: #FF9700;
      color: #ffffff;
}

.bg-2 {
  background: url(..img/header1.jpg);
  color: #ffffff;
  margin-top: 40px;
}

.bg-3 {
  background-color: #f40000;
  color: #ffffff;
}

.bg-4 {
  background-color: #00D1FF;
  color: #fff;
}


.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

.navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
      color: #1abc9c !important;
  }

  .myFood img{
    margin-top: -100px;
    width: 100%;
  }

  #header {
  position:relative;
  line-height:1em;
}
input {
  border:1px solid #ccc;
  border-bottom-color:#eee;
  border-right-color:#eee;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -ms-box-sizing:border-box;
  font-size:1em;
  height:2.25em;
  *height:1.5em;
  line-height:1.5em;
  padding:0.29em 0;
  width:100%;
  margin:0 0 0.75em;
}
.filterform {
  width:220px;
  font-size:12px;
  display:block;
}
.filterform input {
  -moz-border-radius:5px;
  border-radius:5px;
  -webkit-border-radius:5px;
}
/*.entry {
  margin: 0 0 0 0;
  padding: 3px 0;
  border-top: solid thin #666;
  border-bottom: solid thin #222;
  height:85px;
  overflow: hidden;
  text-overflow: ellipsis;
}*/

.recipe {
  font-size:16px;
  color:black;
  font-weight: bold;
  margin-bottom: 6px;
  color:#000;
}

.field {
  font-weight:bold;
  color:#777;
}

.info {
  color:#000;
}
